body {
	font-size: 10pt;
	padding: 0;
	margin: 0;
	width: 800px;
	min-height: 50px;
}

tr.disaster			{ background-color: #FF3838; color: #222222;}
tr.high				{ background-color: #FF9999; color: #222222;}
tr.average			{ background-color: #FFB689; color: #222222;}
tr.warning			{ background-color: #FFF6A5 !important; color: #222222;}
tr.information		{ background-color: #D6F6FF; color: #222222;}
tr.unknown_trigger	{ background-color: #DBDBDB; color: #222222;}
tr.normal,
tr.notclassified	{ background-color: #DBDBDB; color: #222222;}
