body {
	font-size: 10pt;
	padding: 0;
	margin: 0;
	width: 800px;
	min-height: 50px;
}

tr.Cdisaster		{ background-color: #FF3838; color: #222222;}
tr.Chigh			{ background-color: #FF9999; color: #222222;}
tr.Caverage			{ background-color: #FFB689; color: #222222;}
tr.Cwarning			{ background-color: #FFF6A5; color: #222222;}
tr.Cinformation		{ background-color: #D6F6FF; color: #222222;}
tr.Cunknown_trigger	{ background-color: #DBDBDB; color: #222222;}
tr.Cnormal,
tr.Cnotclassified	{ background-color: #DBDBDB; color: #222222;}
